In [25]:
%%capture
!pip install -r ../requirements.txt

In [26]:
%load_ext sql
%sql postgresql://corise:corise@localhost:5432/dbt
%config SqlMagic.displaylimit=10
%config SqlMagic.displaycon = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Modeling challenge
Letâ€™s say that the Director of Product at greenery comes to us (the head Analytics Engineer) and asks some questions:

How are our users moving through the product funnel?

Which steps in the funnel have largest drop off points?

Product funnel is defined with 3 levels for our dataset:
- Sessions with any event of type page_view / add_to_cart / checkout
- Sessions with any event of type add_to_cart / checkout
- Sessions with any event of type checkout

In [30]:
%%sql

with visitors as (
  select
    session_id, -- effectively a user_id
    min(created_at) as min_time -- gets the earliest Visit for each person
  from staging.stg_events
  group by 1
),

page_views as (
  select
    distinct e.session_id
  from visitors v -- ensures we only look at the Visitors defined above
  inner join staging.stg_events e on e.session_id = v.session_id
  where e.event_type= 'page_view' -- an internal event that defines sign-up
),

add_to_cart as (
  select
    distinct e.session_id
  from page_views s  -- ensures we only look at the Signups defined above
  inner join staging.stg_events e on e.session_id= s.session_id
  where e.event_type= 'add_to_cart'
),

checkouts as (
  select
    distinct e.session_id
  from add_to_cart  a -- ensures we only look at the Activations defined above
  inner join staging.stg_events e on e.session_id = a.session_id
  where e.event_type = 'checkout'   
),


steps as (
  select 'Visits' as step, COUNT(*) from visitors
    union
   select 'Page Views' as step, COUNT(*) from page_views
    union
  select 'Add to Carts' as step, COUNT(*) from add_to_cart
    union
  select 'Checkouts' as step, COUNT(*) from checkouts
  order by count desc
)

select
  step,
  count,
  lag(count, 1) over (),
  round((1.0 - count::numeric/lag(count, 1) over ()),2) as drop_off

from steps

4 rows affected.

[('Visits', 1108, None, None),
 ('Page Views', 528, 1108, Decimal('0.52')),
 ('Add to Carts', 355, 528, Decimal('0.33')),
 ('Checkouts', 205, 355, Decimal('0.42'))]