In [46]:
%%capture
!pip install -r ../requirements.txt

In [47]:
%load_ext sql
%sql postgresql://corise:corise@localhost:5432/dbt
%config SqlMagic.displaylimit=5
%config SqlMagic.displaycon = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [48]:
#list dbs in psql
%sql \l

4 rows affected.

[('dbt',
  'postgres',
  'UTF8',
  'C.UTF-8',
  'C.UTF-8',
  '=Tc/postgres\npostgres=CTc/postgres\ncorise=CTc/postgres'),
 ('postgres', 'postgres', 'UTF8', 'C.UTF-8', 'C.UTF-8', None),
 ('template0',
  'postgres',
  'UTF8',
  'C.UTF-8',
  'C.UTF-8',
  '=c/postgres\npostgres=CTc/postgres'),
 ('template1',
  'postgres',
  'UTF8',
  'C.UTF-8',
  'C.UTF-8',
  '=c/postgres\npostgres=CTc/postgres')]

In [49]:
%sql \d

8 rows affected.

[('public', 'addresses', 'table', 'postgres'),
 ('public', 'events', 'table', 'postgres'),
 ('public', 'order_items', 'table', 'postgres'),
 ('public', 'orders', 'table', 'postgres'),
 ('public', 'products', 'table', 'postgres'),
 ('public', 'promos', 'table', 'postgres'),
 ('public', 'superheroes', 'table', 'postgres'),
 ('public', 'users', 'table', 'postgres')]

##Questions to answer:

- How many users do we have?
- On average, how many orders do we receive per hour?
- On average, how long does an order take from being placed to being delivered?
- How many users have only made one purchase? Two purchases? Three+ purchases?
- On average, how many unique sessions do we have per hour?

In [50]:
#How many users do we have?
%sql select count(*) from public.users

1 rows affected.

[(130,)]

In [54]:
#On average, how many orders do we receive per hour?

#query orders by hour, then take avg

%sql with orders_by_hour as (SELECT count(*), date_trunc('hour', created_at) as hour_group FROM orders GROUP BY date_trunc('hour', created_at) ORDER BY count desc) select ROUND(AVG(count),2) from orders_by_hour

1 rows affected.

[(Decimal('8.16'),)]

In [ ]:
#On average, how long does an order take from being placed to being delivered?

#Query plan - calc difference between order create date and delivery date (remove null deliveries) and then take the avg of this (use minutes?)

%sql SELECT    
created_at - delivered_at as date_diff
FROM orders 
where delivered_at is not null
LIMIT 100