In [2]:
%load_ext sql
%sql postgresql://corise:corise@localhost:5432/dbt
%config SqlMagic.displaylimit=5
%config SqlMagic.displaycon = False

In [3]:
#list dbs in psql
%sql \l

4 rows affected.

[('dbt',
  'postgres',
  'UTF8',
  'C.UTF-8',
  'C.UTF-8',
  '=Tc/postgres\npostgres=CTc/postgres\ncorise=CTc/postgres'),
 ('postgres', 'postgres', 'UTF8', 'C.UTF-8', 'C.UTF-8', None),
 ('template0',
  'postgres',
  'UTF8',
  'C.UTF-8',
  'C.UTF-8',
  '=c/postgres\npostgres=CTc/postgres'),
 ('template1',
  'postgres',
  'UTF8',
  'C.UTF-8',
  'C.UTF-8',
  '=c/postgres\npostgres=CTc/postgres')]

In [4]:
%sql \d

8 rows affected.

[('public', 'addresses', 'table', 'postgres'),
 ('public', 'events', 'table', 'postgres'),
 ('public', 'order_items', 'table', 'postgres'),
 ('public', 'orders', 'table', 'postgres'),
 ('public', 'products', 'table', 'postgres'),
 ('public', 'promos', 'table', 'postgres'),
 ('public', 'superheroes', 'table', 'postgres'),
 ('public', 'users', 'table', 'postgres')]

##Questions to answer:

- How many users do we have?
- On average, how many orders do we receive per hour?
- On average, how long does an order take from being placed to being delivered?
- How many users have only made one purchase? Two purchases? Three+ purchases?
- On average, how many unique sessions do we have per hour?

In [5]:
#How many users do we have?
%sql select count(*) from public.users

1 rows affected.

[(130,)]

In [7]:
#On average, how many orders do we receive per hour?

# Fix me

%sql SELECT count(*), date_trunc('hour', created_at) as hour FROM orders group by date_trunc('hour', created_at) order by count desc

49 rows affected.

[(18, datetime.datetime(2021, 2, 11, 23, 0)),
 (14, datetime.datetime(2021, 2, 11, 11, 0)),
 (13, datetime.datetime(2021, 2, 11, 10, 0)),
 (12, datetime.datetime(2021, 2, 10, 0, 0)),
 (12, datetime.datetime(2021, 2, 11, 14, 0)),
 (12, datetime.datetime(2021, 2, 10, 11, 0)),
 (11, datetime.datetime(2021, 2, 11, 16, 0)),
 (11, datetime.datetime(2021, 2, 10, 17, 0)),
 (10, None),
 (10, datetime.datetime(2021, 2, 10, 20, 0)),
 (10, datetime.datetime(2021, 2, 11, 20, 0)),
 (10, datetime.datetime(2021, 2, 10, 13, 0)),
 (10, datetime.datetime(2021, 2, 10, 6, 0)),
 (10, datetime.datetime(2021, 2, 10, 1, 0)),
 (10, datetime.datetime(2021, 2, 10, 9, 0)),
 (10, datetime.datetime(2021, 2, 10, 12, 0)),
 (10, datetime.datetime(2021, 2, 10, 10, 0)),
 (9, datetime.datetime(2021, 2, 10, 7, 0)),
 (9, datetime.datetime(2021, 2, 11, 8, 0)),
 (9, datetime.datetime(2021, 2, 11, 5, 0)),
 (8, datetime.datetime(2021, 2, 10, 23, 0)),
 (8, datetime.datetime(2021, 2, 11, 2, 0)),
 (8, datetime.datetime(2021, 2, 10, 16, 0)),
 (8, datetime.datetime(2021, 2, 11, 21, 0)),
 (8, datetime.datetime(2021, 2, 10, 15, 0)),
 (8, datetime.datetime(2021, 2, 10, 14, 0)),
 (8, datetime.datetime(2021, 2, 11, 4, 0)),
 (8, datetime.datetime(2021, 2, 11, 15, 0)),
 (7, datetime.datetime(2021, 2, 11, 18, 0)),
 (7, datetime.datetime(2021, 2, 10, 21, 0)),
 (7, datetime.datetime(2021, 2, 11, 3, 0)),
 (7, datetime.datetime(2021, 2, 10, 18, 0)),
 (7, datetime.datetime(2021, 2, 11, 9, 0)),
 (7, datetime.datetime(2021, 2, 10, 3, 0)),
 (7, datetime.datetime(2021, 2, 11, 1, 0)),
 (6, datetime.datetime(2021, 2, 10, 22, 0)),
 (6, datetime.datetime(2021, 2, 11, 17, 0)),
 (6, datetime.datetime(2021, 2, 11, 22, 0)),
 (6, datetime.datetime(2021, 2, 10, 4, 0)),
 (5, datetime.datetime(2021, 2, 11, 12, 0)),
 (5, datetime.datetime(2021, 2, 11, 6, 0)),
 (5, datetime.datetime(2021, 2, 10, 19, 0)),
 (5, datetime.datetime(2021, 2, 11, 7, 0)),
 (4, datetime.datetime(2021, 2, 10, 8, 0)),
 (4, datetime.datetime(2021, 2, 11, 13, 0)),
 (4, datetime.datetime(2021, 2, 10, 2, 0)),
 (4, datetime.datetime(2021, 2, 11, 0, 0)),
 (4, datetime.datetime(2021, 2, 11, 19, 0)),
 (3, datetime.datetime(2021, 2, 10, 5, 0))]