In [1]:
%load_ext sql
%sql postgresql://corise:corise@localhost:5432/dbt
%config SqlMagic.displaylimit=5
%config SqlMagic.displaycon = False

In [3]:
#list dbs in psql
%sql \l

4 rows affected.

[('dbt',
  'postgres',
  'UTF8',
  'C.UTF-8',
  'C.UTF-8',
  '=Tc/postgres\npostgres=CTc/postgres\ncorise=CTc/postgres'),
 ('postgres', 'postgres', 'UTF8', 'C.UTF-8', 'C.UTF-8', None),
 ('template0',
  'postgres',
  'UTF8',
  'C.UTF-8',
  'C.UTF-8',
  '=c/postgres\npostgres=CTc/postgres'),
 ('template1',
  'postgres',
  'UTF8',
  'C.UTF-8',
  'C.UTF-8',
  '=c/postgres\npostgres=CTc/postgres')]

In [4]:
%sql \d

8 rows affected.

[('public', 'addresses', 'table', 'postgres'),
 ('public', 'events', 'table', 'postgres'),
 ('public', 'order_items', 'table', 'postgres'),
 ('public', 'orders', 'table', 'postgres'),
 ('public', 'products', 'table', 'postgres'),
 ('public', 'promos', 'table', 'postgres'),
 ('public', 'superheroes', 'table', 'postgres'),
 ('public', 'users', 'table', 'postgres')]