### Week 3 Questions

☑️ Were you able to create new models to answer the data questions on conversion rate?

☑️ Were you able to add a new macro to your dbt project? (generate_schema_name.sql)

☑️ Were you able to add a post hook to your project to apply grants to the role "reporting"?

☑️ Were you able to install a package? (dbt_utils, dbt logging)

In [26]:
%%capture
!pip install -r ../requirements.txt

In [27]:
%load_ext sql
%sql postgresql://corise:corise@localhost:5432/dbt
%config SqlMagic.displaylimit=10
%config SqlMagic.displaycon = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### What is our overall conversion rate?

In [28]:
%%sql

with total_sessions as

(select 
count(distinct (session_id)) as tot_sessions
from core.fact_events 
where session_id is not null
),

purchases as
(select
count(distinct(session_id)) as purchase_sessions
from core.fact_events
where checkout_count = 1
)

select 
purchase_sessions::float / tot_sessions::float as conversion_rate
from purchases
cross join total_sessions

1 rows affected.

[(0.36101083032490977,)]

In [29]:
#conversion = sessions that convered/total sessions 
#product conversion - of the ppl that viewed the product, how many purchased? 
# number of sessions that purhcased the product/ sessions that viewed that product

#### What is our conversion rate by product?

In [36]:
%%sql

select 
pv.product_id,
count(distinct pv.session_id) as views,
count(distinct fc.session_id) as purchases
from product.fact_product_page_views pv
left join product.fact_checkouts fc
    on fc.product_id = pv.product_id
    and fc.session_id = pv.product_id
group by pv.product_id
order by purchases desc

30 rows affected.

[('05df0866-1a66-41d8-9ed7-e2bbcddd6a3d', 51, 0),
 ('35550082-a52d-4301-8f06-05b30f6f3616', 57, 0),
 ('37e0062f-bd15-4c3e-b272-558a86d90598', 65, 0),
 ('4cda01b9-62e2-46c5-830f-b7f262a58fb1', 49, 0),
 ('55c6a062-5f4a-4a8b-a8e5-05ea5e6715a3', 58, 0),
 ('579f4cd0-1f45-49d2-af55-9ab2b72c3b35', 60, 0),
 ('58b575f2-2192-4a53-9d21-df9a0c14fc25', 45, 0),
 ('5b50b820-1d0a-4231-9422-75e7f6b0cecf', 55, 0),
 ('5ceddd13-cf00-481f-9285-8340ab95d06d', 60, 0),
 ('615695d3-8ffd-4850-bcf7-944cf6d3685b', 58, 0),
 ('64d39754-03e4-4fa0-b1ea-5f4293315f67', 57, 0),
 ('689fb64e-a4a2-45c5-b9f2-480c2155624d', 70, 0),
 ('6f3a3072-a24d-4d11-9cef-25b0b5f8a4af', 50, 0),
 ('74aeb414-e3dd-4e8a-beef-0fa45225214d', 72, 0),
 ('80eda933-749d-4fc6-91d5-613d29eb126f', 56, 0),
 ('843b6553-dc6a-4fc4-bceb-02cd39af0168', 57, 0),
 ('a88a23ef-679c-4743-b151-dc7722040d8c', 41, 0),
 ('b66a7143-c18a-43bb-b5dc-06bb5d1d3160', 66, 0),
 ('b86ae24b-6f59-47e8-8adc-b17d88cbd367', 50, 0),
 ('bb19d194-e1bd-4358-819e-cd1f1b401c0c', 61, 0),
 ('be49171b-9f72-4fc9-bf7a-9a52e259836b', 51, 0),
 ('c17e63f7-0d28-4a95-8248-b01ea354840e', 60, 0),
 ('c7050c3b-a898-424d-8d98-ab0aaad7bef4', 65, 0),
 ('d3e228db-8ca5-42ad-bb0a-2148e876cc59', 55, 0),
 ('e18f33a6-b89a-4fbc-82ad-ccba5bb261cc', 54, 0),
 ('e2e78dfc-f25c-4fec-a002-8e280d61a2f2', 53, 0),
 ('e5ee99b6-519f-4218-8b41-62f48f59f700', 60, 0),
 ('e706ab70-b396-4d30-a6b2-a1ccf3625b52', 47, 0),
 ('e8b6528e-a830-4d03-a027-473b411c7f02', 55, 0),
 ('fb0e8be7-5ac4-4a76-a1fa-2cc4bf0b2d80', 78, 0)]